<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List Version 1</title>
</head>

<body>




  <h1>
    <%=theDay%>
  </h1>



  <form action="/" method="post">
    <input type="text" name="task" id="" placeholder="Add Task...">
    <button type="submit">Add</button>
  </form>

  <ul>
    <li>Finish Task 1</li>
    <li>Finish Task 2</li>
    <li>Finish Task 3</li>
    <% for(let i=0; i<newItems.length; i++){ %>
      <li>
        <%= newItems[i] %>
      </li>
      <% }%>
  </ul>


</body>

</html>